@model PPSPS.Models.PPSPSClass

@{
    ViewData["Title"] = "Odstranit třídu";
}

<h1>Odstranit třídu</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h4>Opravdu si přejete odstranit třídu @Html.DisplayFor(model => model.ClassName)?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label asp-for="ClassName" class="control-label"></label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="YearOfEntry" class="control-label"></label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfEntry)
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="ClassTeacherId" class="control-label"></label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassTeacher.LastName) @Html.DisplayFor(model => model.ClassTeacher.FirstName)
        </dd>
    </dl>
    <hr/>

    <form asp-action="ClassDelete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> |
        <a asp-action="ClassesOverview">Zpět na přehled</a>
    </form>
</div>