@model IEnumerable<PPSPS.Models.PPSPSTask>

@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" onclick="location.href = '@(Url.Action("TasksOverview", "Administration"))'"><span role="button" tabindex="0">Aktuální práce</span></h5>
                    <p class="card-text">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                                <br/>
                                <table id="TasksOverview" class="table table-hover table-striped">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Název práce</th>
                                        <th scope="col">Třída</th>
                                        <th scope="col">Předmět</th>
                                        <th colspan="3" scope="col" />
                                    </tr>
                                    </thead>
                                    <tbody id="Table">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.TaskName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ClassId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Subject.SubjectAbbreviation)</td>
                                            <td class="textCenter" onclick="location.href = '@(Url.Action("TaskOverview", "Administration",new {id = item.Id}))'">
                                                <i class="bi bi-file-earmark-person" style="color: #1c7430"/>
                                            </td>
                                            <td class="textCenter" onclick="location.href = '@Url.Action("TaskEdit", "Administration",new {id = item.Id})'">
                                                <i class="bi bi-pencil-square" style="color: #0056b3"/>
                                            </td>
                                            <td class="textCenter" onclick="location.href = '@Url.Action("TaskDelete", "Administration",new {id = item.Id})'">
                                                <i class="bi bi-trash" style="color: #b21f2d"/>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>