@model IEnumerable<PPSPS.Models.PPSPSTask>

@{
    ViewData["Title"] = "Přehled uživatelů";
}

    <!-- Obsah stránky -->
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 text-center">
            <form class="form-inline justify-content-center">
                <div class="form-group">
                    <input class="form-control" id="tableSearch" type="text" placeholder="Hledat ... ">
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <br/>
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Jméno práce</th>
                        <th scope="col">Třída</th>
                        <th scope="col">Datum zadání</th>
                        <th scope="col">Datum odevzdání</th>
                        <th colspan="3" scope="col" />
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.TaskName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Class)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateEntered)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateDeadline)</td>
                            <td class="textCenter" onclick="location.href = '@(Url.Action("TaskOverview", "Administration",new {id = item.Id}))'">
                                <i class="bi bi-file-earmark-person" style="color: #1c7430"></i>
                            </td>
                            <td class="textCenter" onclick="location.href = '@Url.Action("TaskEdit", "Administration",new {id = item.Id})'">
                                <i class="bi bi-pencil-square" style="color: #0056b3"></i>
                            </td>
                            <td class="textCenter" onclick="location.href = '@Url.Action("TaskDelete", "Administration",new {id = item.Id})'">
                                <i class="bi bi-trash" style="color: #b21f2d"></i>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>