@model PPSPS.Models.PPSPSTask

@{
    ViewData["Title"] = "Smazat zadání";
}

<h1>Detail práce</h1>

<div>
    <h4>@Html.DisplayFor(model => model.TaskName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="TaskName" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Description" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ClassId" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassId)
        </dd>
        <dt class="col-sm-2">
            Termín
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateEntered) - @Html.DisplayFor(model => model.DateDeadline)
        </dd>
    </dl>
    <hr />

    <form asp-action="TaskDelete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> |
        <a asp-action="TasksOverview">Zpět na přehled</a>
    </form>
</div>
