@model PPSPS.Models.PPSPSTask

@{
    ViewData["Title"] = "Detail práce";
}

<h1>Detail práce</h1>

<div>
    <h4>@Html.DisplayFor(model => model.TaskName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Název práce
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class="col-sm-2">
            Zadání
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Třída
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassId)
        </dd>
        <dt class="col-sm-2">
            Termín
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateEntered) - @Html.DisplayFor(model => model.DateDeadline)
        </dd>
        <dt class="col-sm-2">
            Přílohy
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.File)
        </dd>
    </dl>
    <hr />

</div>
<div>
    <a asp-action="TasksOverview">Zpět na přehled</a>
</div>