@model PPSPS.Models.PPSPSClass

@{
    ViewData["Title"] = "Detail třídy";
}

<h1>Detail třídy</h1>

<div>
    <h4>@Html.DisplayFor(model => model.ClassName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="ClassName" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="YearOfEntry" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearOfEntry)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ClassTeacherId" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassTeacher.LastName) @Html.DisplayFor(model => model.ClassTeacher.FirstName) (@Html.DisplayFor(model => model.ClassTeacher.Email))
        </dd>
    </dl>
    <hr />
</div>

<div>
    <a href="#" onclick="location.href = '@Url.Action("ClassUsersOverview", "Teacher",new {id = Model.Id})'">Seznam žáků ve třídě</a><br/>
    <a asp-action="ClassesOverview">Zpět na přehled</a>
</div>