@model PPSPS.Areas.Identity.Data.PPSPSUser

@{
    ViewData["Title"] = "Profil uživatele";
}

<h1>Profil uživatele</h1>

<div>
    <h4>@Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="FirstName" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="LastName" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Email" class="control-label">E-mail</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        @if (Model.PhoneNumber != null)
        {
            <dt class="col-sm-2">
                <label asp-for="PhoneNumber" class="control-label">Telefonní číslo</label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        }
        @if (Model.ClassId != null)
        {
            <dt class="col-sm-2">
                <label asp-for="ClassId" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Class.ClassName)
            </dd>
        }
        @if (Model.GroupId != null)
        {
            <dt class="col-sm-2">
                <label asp-for="GroupId" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Group.GroupName)
            </dd>
        }
    </dl>
    <dl>
        <hr />
        <dt class="col-sm-2">
            Práce
        </dt>
    </dl>
    <hr />

</div>
<div>
    <a asp-action="UsersOverview">Zpět na přehled</a>
</div>