@model PPSPS.Areas.Identity.Data.PPSPSUser

@{
    ViewData["Title"] = "Profil studenta";
    List<string> Grades = new List<string>() {"C1", "C2", "C3", "C4"};
    List<string> NameOfWork = new List<string>() {"Návrh KLO", "Návrh SLO", "Tvorba výkresové dokumentace pro program Heidenhain"};
    List<int> Score = new List<int>() {1, 2, 1};
}

<!-- Obsah stránky -->
<div class="container">
  <div class="row">
    <div class="col-2 col-sm-2">
      <p class="font-weight-bolder">Jméno:</p>
      <p class="font-weight-bolder">Příjmení:</p>
      <p class="font-weight-bolder">E-mail:</p>
      <p class="font-weight-bolder">Třída:</p>
    </div>
    <div class="col-5 col-sm-5">
      <p class="font-weight-normal">@Html.DisplayFor(model => model.FirstName)</p>
      <p class="font-weight-normal">@Html.DisplayFor(model => model.LastName)</p>
      <p class="font-weight-normal">@Html.DisplayFor(model => model.Email)</p>
      <p class="font-weight-normal">-</p>
    </div>
  </div>
  <hr>
  <div class="accordion" id="accordionExample">
    @{
      for (int i = 0; i < NameOfWork.Count; i++)
      {
        <div class="card">
          <div class="card-header" id="Heading_@Grades[i]">
            <h2 class="mb-0">
              <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#@Grades[i]" aria-expanded="false" aria-controls="@Grades[i]">
                @Grades[i] - @(2017+i)/@(2018+i)
                <span style="float:right;">
                  Průměrná známka: @Math.Round(Score.Average(), 2)
                </span>
              </button>
            </h2>
          </div>
          <div id="@Grades[i]" class="collapse" aria-labelledby="Heading_@Grades[i]" data-parent="#accordionExample">
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <br/>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Název práce</th>
                                <th scope="col" class="textCenter">Odevzdáno</th>
                                <th scope="col" class="textCenter">Známka</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                              int k = 1;
                              for (int j = 0; j < NameOfWork.Count; j++)
                              {
                                <tr onclick="location.href = '@(Url.Action("", "", new {Student = NameOfWork[i] }))'">
                                  <th scope="row">@k</th>
                                  <td>@NameOfWork[j]</td>
                                  <td class="textCenter">12. 10. 2020</td>
                                  <td class="textCenter">@Score[j]</td>
                                </tr>
                                k++;
                              }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>
