@model PPSPS.Models.PPSPSTask

@{
    ViewData["Title"] = "Přihlásit se k práci";
}

<h1>Odevzdat práci</h1>

<div>
    <h4>@Html.DisplayFor(model => model.TaskName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="TaskName" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Description" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ClassId" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassId) (@Html.DisplayFor(model => model.YearsOfStudies.Years))
            @if(@Model.GroupId != "all")
            {
                <text>- </text> @Html.DisplayFor(model => model.Group.GroupAbbreviation)

            }
        </dd>
        <dt class="col-sm-2">
            <label asp-for="SubjectId" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.SubjectName) (@Html.DisplayFor(model => model.Subject.SubjectAbbreviation))
        </dd>
        <dt class="col-sm-2">
            <label asp-for="TeacherId" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.LastName) @Html.DisplayFor(model => model.Teacher.FirstName)
        </dd>
        <dt class="col-sm-2">
            Termín
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateEntered) - @Html.DisplayFor(model => model.DateDeadline)
        </dd>
    </dl>
    <hr />

</div>
<div>
    <form asp-action="AssignmentOverview">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Přihlásit se k zadání" class="btn btn-primary" /> |
        <a asp-action="AssignmentsOverview">Zpět na seznam</a>
    </form>
</div>