@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<PPSPS.Models.PPSPSTask>

@{
    ViewData["Title"] = "Přehled prací";
}

    <!-- Obsah stránky -->
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 text-center">
            <form class="form-inline justify-content-center">
                <div class="form-group">
                    <input class="form-control" id="tableSearch" type="text" placeholder="Hledat ... ">
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <br/>
                <table id="TasksOverview" class="table table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Název práce</th>
                        <th scope="col">Předmět</th>
                        <th scope="col">Datum zadání</th>
                        <th scope="col">Datum odevzdání</th>
                        <th scope="col"><i class="bi bi-card-checklist" /></th>
                    </tr>
                    </thead>
                    <tbody id="Table">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.TaskName)</td>
                            <td>@Html.DisplayFor(modelItem => item.ClassId)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateEntered)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateDeadline)</td>
                            <td class="textCenter" onclick="location.href = '@(Url.Action("TaskOverview", "Student",new {id = item.Id}))'">
                                <i class="bi bi-upload" style="color: #012e97"/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>