@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<PPSPS.Models.PPSPSAssignment>

@{
    ViewData["Title"] = "Přehled prací";
}

    <!-- Obsah stránky -->
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 text-center">
            <form class="form-inline justify-content-center">
                <div class="form-group">
                    <input class="form-control" id="tableSearch" type="text" placeholder="Hledat ... ">
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <br/>
                <table id="TasksOverview" class="table table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Název práce</th>
                        <th scope="col">Předmět</th>
                        <th scope="col">Datum zadání</th>
                        <th scope="col">Datum odevzdání</th>
                        <th scope="col">Známka</th>
                        <th scope="col"><i class="bi bi-card-checklist" /></th>
                    </tr>
                    </thead>
                    <tbody id="Table">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Task.TaskName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Task.Subject.SubjectAbbreviation)</td>
                            <td>@Html.DisplayFor(modelItem => item.Task.DateEntered)</td>
                            <td>@Html.DisplayFor(modelItem => item.Task.DateDeadline)</td>
                            <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                            <td class="textCenter" onclick="location.href = '@(Url.Action("TaskOverview", "Student",new {id = item.Task.Id}))'">
                                @if (false)
                                {
                                    <i class="bi bi-dash-circle" style="color: #ffc200" data-bs-toggle="tooltip" data-bs-placement="right" title="Čeká na hodnocení"/>
                                }
                                else if (false)
                                {
                                    <i class="bi bi-check-circle" style="color: #1c7430" data-bs-toggle="tooltip" data-bs-placement="right" title="Odevzdaná a hodnocená"/>
                                }
                                else if (true)
                                {
                                    <i class="bi bi-x-circle" style="color: #940000" data-bs-toggle="tooltip" data-bs-placement="right" title="Neodevzdaná"/>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>