@model PPSPS.Models.PPSPSAssignment

@{
    ViewData["Title"] = "Detail zadání";
}

<h1>Detail práce</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Task.TaskName)</h4>
    <hr />
    <div id="AssignmentOverview">
        <div class="card">
            <div class="card-header" id="AssignedHeading">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#Assigned" aria-expanded="false" aria-controls="Assigned">
                        <h5 style="color: #000000">Zadání</h5>
                    </button>
                </h5>
            </div>
            <div id="Assigned" class="collapse" aria-labelledby="AssignedHeading" aria-expanded="false" data-parent="#AssignmentOverview">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            <label asp-for="Task.TaskName" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Task.TaskName)
                        </dd>
                        <dt class="col-sm-2">
                            <label asp-for="Task.Description" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Task.Description)
                        </dd>
                        <dt class="col-sm-2">
                            <label asp-for="Task.ClassId" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Task.ClassId) (@Html.DisplayFor(model => model.Task.YearsOfStudies.Years))
                        </dd>
                        <dt class="col-sm-2">
                            <label asp-for="Task.SubjectId" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Task.Subject.SubjectName) (@Html.DisplayFor(model => model.Task.Subject.SubjectAbbreviation))
                        </dd>
                        <dt class="col-sm-2">
                            <label asp-for="Task.TeacherId" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Task.Teacher.LastName) @Html.DisplayFor(model => model.Task.Teacher.FirstName)
                        </dd>
                        <dt class="col-sm-2">
                            Termín
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Task.DateEntered) - @Html.DisplayFor(model => model.Task.DateDeadline)
                        </dd>
                        @if (Model.File != null)
                        {
                            <dt class="col-sm-2">
                                <label asp-for="File" class="control-label"></label>
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.File)
                            </dd>
                        }
                    </dl>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="SolutionHeading">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#Solution" aria-controls="Solution">
                        <h5 style="color: #000000">Řešení</h5>
                    </button>
                </h5>
            </div>
            <div id="Solution" class="collapse" aria-labelledby="SolutionHeading" aria-expanded="false" data-parent="#AssignmentOverview">
                <div class="card-body">
                    <dl class="row">
                        @if (Model.Grade == 0)
                        {
                            if (ViewBag.Message != null)
                            {
                                <div class="alert alert-success alert-dismissible" style="margin-top:20px">
                                    @ViewBag.Message
                                </div>
                            }
                            <dt class="col-sm-2">
                                <label asp-for="DateSubmission" class="control-label">Vložit soubor</label>
                            </dt>
                            <dd class="col-sm-10">
                                <form method="post" enctype="multipart/form-data">
                                    <input type="file" name="files" required/>
                                    <input asp-for="Task.Assignment.Id" name="id" hidden/>
                                    <button class="btn btn-success" type="submit" asp-controller="Student" asp-action="UploadToDatabase">Nahrát</button>
                                </form>
                            </dd>
                        }
                        <dt class="col-sm-2">
                            <label asp-for="File" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-10">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Soubor</th>
                                    <th>Typ souboru</th>
                                    <th>Datum nahrání</th>
                                    <th/>
                                </tr>
                                </thead>
                                <tbody>
                                foreach (var item in Model.File)
                                {
                                <tr>
                                    <td>Html.DisplayFor(model => "")</td>
                                    <td>file.FileName@file.Extension</td>
                                    <td>file.FileType</td>
                                    <td>file.DateSubmission</td>
                                    <td>
                                        <a type="button" class="btn btn-primary" asp-controller="Student" asp-action="DownloadFileFromDatabase" asp-route-id="file.Id">Stáhnout</a>
                                    </td>
                                </tr>
                                }
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="EvaluationHeading">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#Evaluation" aria-controls="Evaluation">
                        <h5 style="color: #000000">Hodnocení</h5>
                    </button>
                </h5>
            </div>
            <div id="Evaluation" class="collapse" aria-labelledby="EvaluationHeading" aria-expanded="false"  data-parent="#AssignmentOverview">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            <label asp-for="Grade" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-10">
                            @if (Model.Grade == 0)
                            {
                                <p class="text-warning">Práce doposud nebyla hodnocena.</p>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Grade)
                            }
                        </dd>
                        <dt class="col-sm-2">
                            <label asp-for="DateSubmission" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DateSubmission)
                        </dd>
                        @if (Model.Note != null)
                        {
                        <dt class="col-sm-2">
                            <label asp-for="Note" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Note)
                        </dd>
                        }
                    </dl>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
<div>
    <a asp-action="SubmittedTasksOverview">Zpět na přehled</a>
</div>